/// Custom HTML 5 Video Player Controls
/// 
/// @todo Needs all the controls finished
/// @author Mark Handy
/// @group Components

.volumeMute {
  &-slider {
    position : absolute;
    top : 13px;
    left : 70px;
  }
}
